@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<html>
<head>
    <title>Welcome: Sử dụng Input + Alert, viết JS dưới dạng Internal JavaScript</title>

    <script language="Javascript">
        function DisplaymMsg(msg) {
            alert(msg);
        }
    </script>

    <script src="~/Scripts/MyScript/UserScript.js"></script>

</head>

<body>
    <form name="Welcome">
        <input type="text" name="txtName"
               @*value="Welcome to Javascript"*@
               size="30" maxlength="30" />
        <input type="number" name="txtAge" min="0" max="100"/>
        <input type="button" name="btn_welcome" value="Welcome"
               onclick="DisplayMsg(txtName.value); HomNay();" />
    </form>


</body>
</html>

