@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<html>
<head>
    <title>Welcome Page</title>
</head>

<body>
    <script language="Javascript">
        var Name, Age; //khai báo biến
        Name = prompt("Enter your name: ", ""); //hiển thị hộp thoại
        Age = prompt("Your age: ", "");
        document.write("Hello <b>" + Name + "</b>");
        document.write("</br>");
        document.write("Your age is <u>" + Age + "</u>");

    </script>
</body>
</html>


